.toy-preview {
    text-align: center;
    // display: flex;
    // flex-direction: column;
    min-width: 18rem;
    min-height: 18rem;
}

@media (max-width: 1000px) {
    .toy-preview {
        width: 50vh;
        padding-bottom: 10px;
    }

    .toy-list {
        overflow-y: scroll;
        max-height: 650px;
    }
}

.buynow-btn {
    &:hover {
        text-decoration: underline;
        font-size: 18px;
        color: bisque;
    }
}