h1 {
    font-size: 2rem;
}

/* flex helpers */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.marginleft10 {
    margin-left: 10px;
}

.pointer {
    cursor: pointer;
}

.whitetxt {
    color: white;
}

.fs20 {
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}